<form class="example-form">

    <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput #first placeholder="Ex. Amr" required>
    </mat-form-field>
    <h5 *ngIf="faildsubmitted == true && !(first.value.length > 0)">Please Fill This Field with a valid data</h5>

    <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput #last placeholder="Ex. Hassan" required>
    </mat-form-field>
    <h5 *ngIf="faildsubmitted == true && !(last.value.length > 0)">Please Fill This Field with a valid data</h5>


    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" #email matInput placeholder="Ex. amr@gmail.com" required>
    </mat-form-field>
    <h5 *ngIf="faildsubmitted == true && !(email.value.length > 0)">Please Fill This Field with a valid data</h5>

    <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input type="number" #age matInput placeholder="Ex. 28" required>
    </mat-form-field>
    <h5 *ngIf="faildsubmitted == true && !(age.value > 0)">Please Fill This Field with a valid data</h5>

    <mat-form-field class="example-full-width">
        <mat-label>Nationality</mat-label>
        <input matInput #nat placeholder="Ex. Egypt" required>
    </mat-form-field>

    <h5 *ngIf="faildsubmitted == true && !(nat.value.length > 0)">Please Fill This Field with a valid data</h5>


    <button mat-raised-button (click)='saveContacts($event ,first.value , last.value , email.value ,age.value , nat.value)'>Send</button>
    <h4 *ngIf="submitted == true">Data Sent successfully!</h4>
</form>