<img src="../../../assets/amr.jpeg" alt="">
<h1>
    Who Am I ?!
</h1>

<p>
    I'm a Front End Developer Searching For a job position To Invest My Skills to benefit the company and gain more experience. This is my start point to begin my dream career, I have worked for 4 years in several fields and this is my time to make my shift
    career, I Started by self-study then I joined a diploma in route academy and finally, I got a certificate of Information Technology Institute (ITI) as Full stack web development With Python, And During This period I made some freelancing jobs successfully
    and the feedback was positive. I would like to meet in person to learn more about your needs and share more of my knowledge. I look forward to this opportunity. <br> Please feel free to call or email me Thank you for your time, Amr Hassan
</p>