.copy {
    background-color: #111111;
    color: #FFF;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: #fff;
        text-decoration: none;
    }
}