<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <img src="../../../assets/amr.jpeg" alt="Logo">
    <span class="example-spacer"></span>

    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/about']">About</a>
    <a [routerLink]="['/contact']">Contact Us</a>
    <a [routerLink]="['/admin']">Admin</a>

    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>