.main {
    text-align: center;
}

.welcome {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-image: url(../../../assets/welcome.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-size: 3rem;
    h1 {
        margin-top: 100px;
    }
}