.page {
    width: 100%;
    height: 80%;
    background-image: url(../../../assets/404-error-page-not-found.jpg);
    background-size: 100% 100%;
    h1 {
        text-align: center;
        padding-top: 20px;
    }
}